# PROGRAM 21
##### Aim : Write a pandas program to create a dataframe(6 records) which has the fields id,name,age,degree,cgpa
a)insert a new column ‘class’ into the dataframe and populate values
b)Find out total no.of columns in the dataframe
c)select top 3 rows ,last 4 rows
d)delete all rows which have null values
e)drop ‘id’ column
f)select name,cgpa from 2 to 5 records
g)fill null values in the age column with mean value
##### Date : 26/08/2022 
##### By   : Anu C Scharia

In [ ]:
import numpy as np
import pandas as pd
student={"id":[1,2,3,4,5,6],"name":["A","B","C","D","E","F"],"age":[21,20,22,23,20,np.nan],"degree":["MCA","MSC","MCA","MSC","MCA","MSC"],"CGPA":[7,5,8,9,9,np.nan]}
df=pd.DataFrame(student)
print(df)

In [55]:
clas=["First","Second","First","First","Second","Second"]
df["class"]=clas
print(df)

   id name   age degree  CGPA   class
0   1    A  21.0    MCA   7.0   First
1   2    B  20.0    MSC   5.0  Second
2   3    C  22.0    MCA   8.0   First
3   4    D  23.0    MSC   9.0   First
4   5    E  20.0    MCA   9.0  Second
5   6    F   NaN    MSC   NaN  Second

In [38]:
print("Toatl No of Columns =",len(df.axes[1]))

Toatl No of Columns = 6

In [37]:
print(df.head(3),"\n",df.tail(4))

   id name   age degree  CGPA   class
0   1    A  21.0    MCA   7.0   First
1   2    B  20.0    MSC   5.0  Second
2   3    C  22.0    MCA   8.0   First
    id name   age degree  CGPA   class
2   3    C  22.0    MCA   8.0   First
3   4    D  23.0    MSC   9.0   First
4   5    E  20.0    MCA   9.0  Second
5   6    F   NaN    MSC   NaN  Second

In [52]:
df=df.dropna()
print(df)

   id name   age degree  CGPA   class
0   1    A  21.0    MCA   7.0   First
1   2    B  20.0    MSC   5.0  Second
2   3    C  22.0    MCA   8.0   First
3   4    D  23.0    MSC   9.0   First
4   5    E  20.0    MCA   9.0  Second

In [43]:
df.pop("id")
print(df)

  name   age degree  CGPA   class
0    A  21.0    MCA   7.0   First
1    B  20.0    MSC   5.0  Second
2    C  22.0    MCA   8.0   First
3    D  23.0    MSC   9.0   First
4    E  20.0    MCA   9.0  Second
5    F   NaN    MSC   NaN  Second

In [56]:
print(df.loc[[2,3,4,5],["name","CGPA"]])

  name  CGPA
2    C   8.0
3    D   9.0
4    E   9.0
5    F   NaN

In [81]:
print(df["age"])
mean=df["age"].mean()
df["age"].fillna(mean,inplace=True)
print(df)

0    21.0
1    20.0
2    22.0
3    23.0
4    20.0
5     NaN
Name: age, dtype: float64
   id name   age degree  CGPA
0   1    A  21.0    MCA   7.0
1   2    B  20.0    MSC   5.0
2   3    C  22.0    MCA   8.0
3   4    D  23.0    MSC   9.0
4   5    E  20.0    MCA   9.0
5   6    F  21.2    MSC   NaN